<div id="nwcLayout_northPanel" class="nwcLayout-panel nwcLayout-panel-north"></div>
<div id="nwcLayout_westPanel" class="nwcLayout-panel nwcLayout-panel-west"></div>
<div id="nwcLayout_westSplit" class="nwcLayout-panel-split-west">
	<div id="nwcLayout_westSplitBtn" class="nwcLayout-panel-split-btn"></div>
</div>
<div id="nwcLayout_centerPanel" class="nwcLayout-panel nwcLayout-panel-center"></div>
<div id="nwcLayout_southPanel" class="nwcLayout-panel nwcLayout-panel-south"></div>
<div id="nwcLayout_mask" class="nwcLayout-mask" style="display:none;"></div>