<div id="newcLayout_northPanel" class="newcLayout-panel newcLayout-panel-north"></div>
<div id="newcLayout_westPanel" class="newcLayout-panel newcLayout-panel-west"></div>
<div id="newcLayout_westSplit" class="newcLayout-panel-split newcLayout-panel-split-west">
	<div id="newcLayout_westSplitBtn" class="newcLayout-panel-split-btn"></div>
</div>
<div id="newcLayout_centerPanel" class="newcLayout-panel newcLayout-panel-center"></div>
<div id="newcLayout_eastSplit" class="newcLayout-panel-split newcLayout-panel-split-east">
	<div id="newcLayout_eastSplitBtn" class="newcLayout-panel-split-btn"></div>
</div>
<div id="newcLayout_southPanel" class="newcLayout-panel newcLayout-panel-south"></div>
<div id="newcLayout_mask" class="newcLayout-mask" style="display:none;"></div>